{% extends 'base.html' %}
{% block content %}
<div class="container">
    {% for profile in profile %}
    <div class="row">
        <div class="card mx-auto">
            <div class="card-header mx-auto">
                <img class="rounded-pill mx-auto" src="{{profile.profile_photo.url}}" alt="{{profile.profile_photo}}" style="border-radius:50%; width:150px; height:150px;">
            </div>
            
            <div class="card-body">
                <h5>{{profile.bio}}</h5>
                <div>{{profile.bio}}</div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}