{% extends 'base.html' %}
{% block content %}
<div class="container">
    {% for profile in profile %}
    <div class="row">
        <div class="card mx-auto">
            <div class="card-header mx-auto">
                <img class="rounded-pill mx-auto" src="{{profile.profile_photo.url}}" alt="{{profile.profile_photo}}" style="border-radius:50%; width:150px; height:150px;">
            </div>

            <div class="card-body">
                <p>{{profile.bio}}</p>
                <p>{{profile.bio}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
    
    <!-- posts by user -->

    {% for image in images %}
    <div class="row">
        <div class="card col-xs-12 col-sm-12 col-md-5 col-lg-5 mx-auto my-2" style="font-family: 'Open Sans', sans-serif; padding:0;">
            <div class="card-header px-0 py-0">
                <a href="{% url 'show_post' image.id %}"><img class="card-img-top" src="{{image.image.url}}" alt="{{image.image_name}}"></a>
            </div>

            <div class="card-body py-1">
                <h5 class="card-text">{{image.image_name}}</h5>
                <p class="card-text">{{image.image_caption}}</p>
                <!-- <a href="#" class="btn btn-sm btn-primary">Comment</a> -->
            </div>
        </div>
    </div> 
    {% endfor %}
</div>
{% endblock %}