{% load bootstrap4 %}
<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to InstaClone</title>
        {% block styles %}
            {% bootstrap_css %}
        {% endblock %}
    </head>
    <body>
        {% block scripts %}
            {% bootstrap_javascript %}
        {% endblock %}

        <h1 class="text-center">Welcome to InstaClone</h1>
        <div class="col-sm-12 col-md-12 mx-auto">
            <a class="btn btn-primary" href="/accounts/login">Login</a>
            <a class="btn btn-primary" href="/accounts/signup">Sign Up</a>
        </div>
        

    </body>
</html>